 body{
     background-color: white;
 }
 
 
 /* Navigation bar for the top of each page*/
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
  
    /* Change the link color to red on hover */
  li a:hover {
    color: rgb(223, 25, 25);
  }

  /*index page */
  
  h1{
    text-align: center;
  }
  .websiteHead{
    text-align: left;
    padding-left: 20px;
  }

  
  /* Contact Page */




  /* Portfolio Page */

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  .container-fluid{
    padding-left: 50px;
  }
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}



  /*
  table, th, td {
    border-collapse: seperate;
    padding: 5px;
    margin: 100px;
    align-content: center;
    
  }
 */ 
